.how_works {
  padding: 95px 0;
}

.card_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.how_works .rounded-button {
  border: 2px solid #ff4e50;
  color: #ff4e50;
  font-size: 16px;
  margin-top: 50px;
  text-align: center;

  position: relative;
  left: 50%;
  transform: translatex(-50%);
}

@media screen and (max-width: 1023px) {
  .card_container {
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .how_works {
    padding: 35px 0;
  }

  .card_container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }

  .how_works .rounded-button {
    text-align: center;

    position: relative;
    left: 0;
    transform: none;
    display: block;
    width: 90%;
    margin: 35px auto 0;
  }
}
