html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
  /* background: #f2f2f2; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.rounded-button {
  padding: 12px 25px 10px;
  border-radius: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.hover_grow {
  transition: 0.5s ease-in;
}

.hover_grow:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in;
}

.hover_grow_sm {
  transition: 0.4s ease-in;
}

.hover_grow_sm:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in;
}

.hover_bg {
  color: #ff4e50;
  background: none;
  transition: 0.5s ease-in;
}
.hover_bg:hover {
  transition: 0.5s ease-out;
  background: #ff4e50;
  color: white !important;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 5rem;
}

.section-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 35px;
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 900px;
    padding: 0 1.5rem;
  }

  .section-heading {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .section-heading {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 20px;
  }
}
